.start-panel {
    display: grid;
    column-gap: 5px;
    grid-template-columns: 50px minmax(170px, auto) minmax(500px, auto);
}
.start-panel__icons {
    display: grid;
    grid-template-rows: 1fr repeat(5, auto);
}
.start-panel__grid {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
    row-gap: 10px;
}
.apps--office {
    
}
.apps--web {

}
.apps--other {

}
.apps__grid {
    display: grid;
    grid-template-columns: repeat(6, 50px);
    grid-auto-rows: 50px;
    column-gap: 5px;
    row-gap: 5px;
}
.app--g2x2 {

}
.app--g2x1 {

}
.app--g1x2 {

}
.app--off-3 {

}
.app--off-4 {

}
.app--off-5 {

}
.app--in-3 {

}
.app--fun-2 {

}
.app--fun-3 {

}